<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
    <title>{% block title  %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'common/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'common/img/favicon.png' %}" type="image/jpg">
    <meta name="keywords" content="Рецепты">
    <meta name="description" content="Рецепты вегатареанских блюд">
    <style>
        body{
            background-image: url('{% static 'common/img/body.jpg' %}');
            }
</style>
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="{% static 'common/img/logo.png' %}">
        </header>
        <main>
            {% block main  %}{% endblock %}
        </main>
        <footer>2023</footer>

        <script src="{% static 'common/js/scripts.js' %}" ></script>
    </div>
</body>
</html>
