<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="http-equiv" content="Content-type: text/html; charset=UTF-8">
    <title>{% block title  %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'common/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'common/img/favicon.png' %}" type="image/jpg">
    <meta name="keywords" content="анекдоты, артем, анекдоты про артема">
    <meta name="description" content="Рандомный анекдот про Артема">
    {% block style  %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <img class="logo" src="{% static 'common/img/logo.gif' %}">
        </header>
        <main>
            <div class="random">
                <img src="{% static 'common/img/random2.gif' %}">
            </div>
            {% block main  %}{% endblock %}
        </main>
        <footer>1997 год <br> Совпадения с реальными людьми или событиями случайны. </footer>
        <script src="{% static 'common/js/scripts.js' %}" ></script>
    </div>
</body>
</html>
