{% extends 'base/base.html' %}
{% load static %}

{% block title  %}Рецепты блюд{% endblock %}

{% block main  %}

    <form method="post" class="form">
        {% csrf_token %}
        <input class="button" type="submit" value="Получить случайный рецепт">
        <div class="recept">
            <div class="recept_img">
                <img src="{{random_item.img.url}}" alt="{{ random_item.name }}" title="{{ random_item.name }}"></div>
            <div class="recept_block">
                <div class="recept_name">{{ random_item.name}}</div>
                <div class="recept_text">
                    {% autoescape off %}
                    {{ random_item.text}}
                    {% endautoescape %}</div>
            </div>
        </div>
        {{product.specifications}}
    </form>
{% endblock %}
